* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: Pretendard;
}

body {
	background-color: white;
	color: black;
}

button {
    color: inherit;
	background: none;
	outline: none;
	border: none;
	cursor: pointer;
}

.hidden {
	display: none !important;
}

.spinner {
	width: 2rem;
	height: 2rem;
	border: 5px solid darkgray;
    border-bottom-color: transparent;
    border-radius: 50%;
	animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 